@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

body {
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background: linear-gradient(90deg, black, red);
}

/*nav*/

.navbar {
  background-color: #00000003;   
  color: white;
  position: fixed;
  width: 100vw;
  z-index: 1;    
}

.brand {
  font-size: 40px;
  font-weight: 700;
}

#logo {
  width: 50px;
  height: 50px;
  padding-right: 3px;
  border-radius: 10px;
  }

.nav-item {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

/*header*/

#superhero {
  background-image: url("../img/spiderman-5561671_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 100vh;
  position: relative;
}
/* buscador */

.buscar {
  background-color: black;
  border-radius: 10px;
  text-align: center;
  padding: 60px;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin-left: 50px;
  border-radius: 1rem;
  color: red;
  font-weight: bold;
  font-family: 'Comic Neue', cursive;
  text-shadow: 0 0 10px white;  
}

input {
  width: 500px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.form-label {
  margin-left: 50px;
  border-radius: 1rem;
}

.btn {
  background-color: red;
  width: 170px;
  padding: 10px;
  margin-left: 2rem;
  margin-bottom: 10px;
  color: white;
  font-size: 1.5rem;
  border-radius: 8px;
}

.btn:hover {
  background-color: rgb(227, 227, 32);
}

/* mensaje de error */

h3 {
  color:rgb(255, 217, 0);
  margin-top: 45px;
  padding-top: 3px;  
  background-color: black;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}



/* info api */

.noencontrado {
  display: none;
}
.noencontrado {
  width: 400px;
  height: auto;
  padding: 50px;
}

.respuesta {
  display: none;
}

#informacion{
  display: none;
}

.card {
  width: 1300px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 50px rgb(45, 43, 43);
}

.card-title {
  font-weight: bold;
}

.imagen-super {
  width: 700px;
  height: auto;
}

.contenedor-info {
  display: flex;
  justify-content: space-between;
}

.contenedor-info p {
  font-size: 18px;
  
}

.card-body {
  width: 400px;
}

.grafico {
  background-color: white;
  border-radius: 10px;
  padding-left: 50px;
  margin-top: 50px;
  width: auto;
  height: auto;
}

.card-body .grafico {
  flex: 0 0 calc(50% - 1rem);
  
}

/*footer*/

footer {
  background-color:black;
  width: 100%;
}

footer p {
  text-align: center;
  margin-bottom: 0%;
  padding-bottom: 20px;
}

h4 {
  color:white;
  margin-left: 340px;
  margin-top: 55px;
  padding-top: 3px;  
  background-color: black;
  font-size: 2.5rem;
  text-align: center;
}
  
.iconos{  
  background-color: black;
  display: flex;
  text-align: right;
  justify-content: right;  
  margin-right: 340px;
}  
  
i {
  color:#ffffff;
  font-size: 50px;
  background:black;
  padding: 5px;
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
  width: 100%;
}  

@media (max-width: 768px) {
  body {  
    background: linear-gradient(70deg, red, black, red);
  }
  h1 {
    font-size: 40px;
    margin: auto; 
  }
  input {
    width: 200px;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }
  .btn {
    padding: 5px;
    margin: auto; 
  }
  h3 {
    margin-top: 10px;
    font-size: 2rem;
  }
  .noencontrado {
    width: auto;
    height: auto;
  }
  .noencontrado img{
    width: 300px;
    height: auto;
  }
  .card {
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
  }
  .contenedor-info {
    flex-direction: column; 
  }

  .card-title {
    text-align: center;
    width: 320px;
  }
  .card-text {
    width: 320px;
  }
  .grafico {
    width: auto;
    height: auto;
    padding-left: 25px;
  }
  h4 {
    margin-left: 10px;
    font-size: 1.5rem;
  }
  .iconos{  
    text-align: center;
    justify-content: center;  
    margin: auto;
  }  
}
 


